body {
    margin: 0px;
    padding: 0px;
}
.mobile_navigation_wrapper {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.mobile_ul {
    background-color: rgb(36, 101, 175);
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-evenly;
}

.mobile_li {
    display: inline-block;
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.mobile_li:hover,
.mobile_li:active {
    background: linear-gradient(rgba(67, 78, 175, 0.5), rgba(67, 78, 175, 0.5));
    border-radius: 20px;
}
.mobile_li:hover .mobile_i {
    transform: translateX(0);
}

.mobile_li:hover .mobile_span,
.mobile_li:active .mobile_span {
    opacity: 1;
    transform: translateX(0);
}

.mobile_span {
    display: inline-block;
    transform: translateX(-20%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.mobile_a {
    color: black;
}
.mobile_i {
    transform: translateX(150%);
    transition: all 0.5s ease-in-out;
}
@media (max-width: 700px) {
    .nav_wrapper {
        display: none;
    }
    .mobile_navigation_wrapper {
        display: block;
    }
    .mobile_i,
    .mobile_span {
        margin: 0 0.25rem;
        font-size: 1.25rem;
    }
}

@media (max-width: 380px) {
    .mobile_i,
    .mobile_span {
        margin: 0 0.25rem;
        font-size: 0.8rem;
    }
}
